html {
  font: 1.1em/1em helvetica, arial, sans-serif;
  color: #333;
  background-color: #222;
}

#dir-tree {
  width: 340px;
  border: solid 10px #555;
  padding: 0;
  margin: 20px auto;
  background-color: #fefefe;
  list-style: none;
}

#dir-tree li {
  padding: 8px 12px;
  border-bottom: solid 1px #dedede;
  border-top: solid 1px white;
  position: relative;
}

li a {
  text-decoration: none;
  color: #dedede;
}

.synced a { color: #555 }
.synced a:hover {
  color: #2698D1;
}

.syncing { background-color: #FCF2D7 }
.syncing a { color: #E6AE15 }

.file-actions {
  position: absolute;
  top: 8px;
  right: 12px;
}

.sync {
  width: 16px;
  height: 16px;
  background: url(images/sync.png);
  display: none;
}

#no-support {
  background-color: red;
  padding: 6px 0;
  text-align: center;
  color: white;
  display: none;
}

#no-support a {
  color: white;
}
.downloader {
    color:blue;
    font-weight:bold;
}