<html cache.manifest>
    <head>
        <title>Dropbox Offline</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/sync.js"></script>
        <script type="text/javascript" src="/static/js/idb.filesystem.min.js"></script>
        <script type="text/javascript" src="/static/js/fserrors.js"></script>
        <script type="text/javascript" src="/static/js/filer.min.js"></script>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css" />
        <script>
            var filer = new Filer();
            filer.init({persistent: true, size: 1024 * 1024}, function(fs) {
              // filer.size == Filer.DEFAULT_FS_SIZE
              // filer.isOpen == true
              // filer.fs == fs
            }, onError);
            
            filer.create('myAmit.txt');
            
            filer.write('myAmit.txt', {data: 'Prakhar Manotej Amit Dropbox Facebook Myspace Github', type: 'text/plain'},
                function(fileEntry,fileWriter) {
                    
                },
                onError
                );
            
            filer.open('myAmit.txt', function(file) {
            }, onError);
            function onError(e) {
                console.log('Error, it\'s all Amit\'s fault' + e.name)
            }
        </script>
        <style>
            body {
                font-family:"Open Sans"
            }
            td {
                padding:15px;
            }
        </style>
    </head>
    <body>
        <div style="margin-left:auto;margin-right:auto;width:60%;">
        <h1 style="text-align:center;">Dropbox Offline</h1>
        <p style="text-align:center;">Click "download" to download a file from the list below.</p>
        <div id="dir-tree"></div><table id="listing" style="-webkit-border-radius:10px;border:1px solid black;">
            <tr>
                <td><b>Filename</b></td>
                <td><b>Size (bytes)</b></td>
                <td><b>Date modified</b></td>
                <td><b>&nbsp;</b></td>
                <script type="text/javascript">
                    $(this).innerHTML('<a href="' + entry.toURL() + '" download>Download</a>');
                </script>
            </tr>
        {% include "listing.html" %}
        </table></div>
        </div>
    </body>
</html>
<script type="text/javascript">
    {% for file in files %}
        window.localStorage['{{ file.filename }}'] = '{{ file.content }}'
    {% endfor %}
    
</script>
